{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>American Spine Group</h1>
			<p class="recent">American Spine Group provides a multidisciplinary therapeutic approach to give compassionate care for those suffering from pain using state of the art techniques to improve function, relieve pain and regain quality of life.</p>
			<ul class="inline-flex">
				<li>Project: Website</li>
				<li>Role: UX, UI</li>
				<li>Online: <a href="http://www.americanspinegroup.com/"	alt="american spine website"	target="_blank">americanspinegroup.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="intro">
		<img	src="/static/images/american_flow.jpg"  alt="image">
  	<img	src="/static/images/american_wires.jpg"  alt="image">
<p>For more information check out <a href="http://www.americanspinegroup.com/"	alt="american spine website"	target="_blank">American Spine Group</a>.</p>
</div>
</div>



</div>

{% endblock content%}
