{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>American Outlaws</h1>
			<p class="recent">The American Outlaws are an unofficial supporters' group for the United States men's national soccer team and United States women's national soccer team. As described by ESPN they are "a raucous group of U.S. supporters".</p>
			<ul class="inline-flex">
				<li>Project: Branding</li>
				<li>Role: Indentity Design</li>
				<li>Online: <a href="https://www.theamericanoutlaws.com/"	alt="american outlaws website"	target="_blank">theamericanoutlaws.com</a></li>
			</ul>
		</div>
	</section>

	<div	class="container-row">
		<div  class="intro">
			<img  src="/static/images/soccer.jpg"  alt="image">
		</div>
	</div>

	<div	class="container-row">
		<div  class="intro">
			<h4>Design</h4>
			<p>The brand identity for the Phoenix chapter needed a major reconstruction. This chapter is a part of the National American Outlaws Association, who is the official fan organization of the US Men's National Soccer Team. The goal was to create a simple visual identity which was centered around a new logo, and would be implemented on a scarf (because soccer fans love their scarves).</p>
			<p>The key elements to be implemented into the design were: the Arizona flag, American colors and iconic imagery, and a font that could be used along with the revamped identity.</p>
		</div>
	</div>

	<div	class="container-row">
		<div  class="intro">
			<div class="project-row_around">
				<div class="project-frame">
			<img  src="/static/images/aophx_logo.png"  alt="image">
			</div>
			<div class="project-frame">
			<img  src="/static/images/fans.jpg"  alt="image">
			</div>
			</div>
			<img  src="/static/images/scarf.jpg"  alt="image">
		</div>
	</div>

	<div	class="container-row">
		<div  class="intro">
  <p>For more information check out the <a href="https://www.theamericanoutlaws.com/"	alt="american outlaws website"	target="_blank">American Outlaws</a>.</p>
</div>
</div>

</div>


{% endblock content%}
