{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>American Outlaws</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="inline-flex">
			<li>Project: Visual Identity</li>
			<li>Role: Designer</li>
			<li>Online: <a href="https://www.theamericanoutlaws.com/"	alt="american outlaws website"	target="_blank">theamericanoutlaws.com</a></li>
		</ul>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">
  <img  src="/static/images/soccer.jpg"  alt="image">
	<img  src="/static/images/ao_colors.png"  alt="image">
	<div class="project-row_around">
		<div class="project-frame">
	<img  src="/static/images/aophx_logo.png"  alt="image">
</div>
<div class="project-frame">
<img  src="/static/images/fans.jpg"  alt="image">
</div>
</div>
  <p>For more information check out <a href="https://www.theamericanoutlaws.com/"	alt="american outlaws website"	target="_blank">American Outlaws</a>.</p>
</div>
</div>


</div>


{% endblock content%}
