{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>BW Services</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="inline-flex">
			<li>Project: Branding</li>
			<li>Role: Designer</li>
		</ul>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">
  <img  src="/static/images/group.png"  alt="image">
	<img  class="project-frame_border"	src="/static/images/browser.jpg"  alt="image">
	<div class="project-row">
		<div class="project-frame">
		<img src="/static/images/mobile_1.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/mobile_2.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/mobile_3.png">
	</div>
</div>
		<p>Various print projects.</p>
	<ul class="inline-flex">
		<li>Project: Brand Direction and Design</li>
		<li>Role: Director of Design</li>
	</ul>
	<img  src="/static/images/layout.jpg"  alt="image">
	<div class="project-row">
		<div class="project-frame">
		<img src="/static/images/arcadia_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/baptism_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/tempe_shirt.png">
	</div>
</div>
  <p>For more information check out <a href="http://redemptionaz.com"	alt="redemption church website"	target="_blank">Redemption Church</a>.</p>
</div>
</div>


</div>


{% endblock content%}
