{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Flagstaff Marathon</h1>
			<p class="recent">Annual marathon event and race held in Flagstaff, AZ.</p>
			<ul class="inline-flex">
				<li>Project: Branding</li>
				<li>Role: Indentity</li>
			</ul>
		</div>
	</section>


<div	class="container-row">
  <div  class="intro">
  <img  src="/static/images/flagstaff_banner.jpg"  alt="image">
	<h4>Background</h4>
	<p>As a former runner and resident of Flagstaff, the 11th edition of the Flagstaff Marathon was great to be a part of. The event will kick off in September of 2016 with hundreds of participants from all over Arizona and the nation.</p>
	<h4	class="recent">Design</h4>
	<p>Flagstaff’s running community is very robust and close, and many elite athletes train and live within the city itself. In the past, the identity of the marathon was very subdued and neutral. We wanted to do something with lines - so that it could be used easily as an overlay for a number of different mediums. By updating the colors to be more bright and playful, this reflected the newfound vision and direction for the big event.</p>
	<p>At handoff, the committee and everyone involved were very pleased and loved the new direction and identity. I hope to go and see the race and all the hard work in action soon.</p>
	<img  class="margin-top"	src="/static/images/flag_logo.svg"  alt="image">
	<p>For more information check out the <a href="http://flagstaffmarathon.com/"	alt="flagstaff marathon website"	target="_blank">Flagstaff Marathon</a>.</p>
</div>
</div>

</div>


{% endblock content%}
