{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Logos</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_1.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_2.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_3.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_4.png">
		</div>
		</div>
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_5.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_6.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_7.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_8.png">
		</div>
		</div>
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_9.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_10.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_11.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_12.png">
		</div>
		</div>
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_13.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_14.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_15.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_16.png">
		</div>
		</div>
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_17.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_18.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_19.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_20.png">
		</div>
		</div>
		<div class="project-row">
			<div class="project-frame_logo">
			<img src="/static/images/logo_21.png">
		</div>
		<div class="project-frame_logo">
			<img src="/static/images/logo_22.png">
		</div>
		</div>
</div>
</div>


</div>


{% endblock content%}
