{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Phoenix Suns</h1>
			<p class="recent">The Phoenix Suns are an American professional basketball team based in Phoenix, Arizona.</p>
			<ul class="inline-flex">
				<li>Project: Website Redesign</li>
				<li>Role: User Experience, Content</li>
				<li>Online: <a href="http://www.nba.com/suns/"	alt="suns website"	target="_blank">nba.com/suns</a></li>
			</ul>
		</div>
	</section>


<div	class="container-row">
  <div  class="intro">
		<div class="surge-center">
	<div	class="project-frame_display">
  <img	src="/static/images/suns_thunderbolt.png"  alt="image">
</div>
</div>
</div>
</div>

<div	class="container-row">
  <div  class="intro">
		<h4>Background</h4>
		<p>At the Phoenix Suns, my team redesigned and relaunched the new responsive website that was initiated by the NBA. Previously NBA team sites were using separate mobile sites, and the NBA finally initiated a full CMS change and redesign of all sites. Needless to say, the previous mobile sites had not been working well with the amount of content and advertising sponsors that needed to be included.</p>
		<h4	class="recent">Research</h4>
		<p>These redesigns were led and planned by small teams within the individual organization. My capacity on my team was to assist with the IA and UX planning of flows and content. Early A/B testing was done on the homepage while we built out different possible templates to use. We looked at what our most trafficed pages and contenet was over the last couple years and planned research around these areas to focus on.</p>
		<h4	class="recent">Design and Content</h4>
		<p>After indexing our previous site we migrated a lot of this content to the new CMS (chosen by the NBA), which was Drupal. We also had to recreate a number of the content assets digitally so that it would be more accessible responsively. The outcome was a huge website launch that got a lot of praise from the league office. Our site was also used as a template for other NBA teams in their redesigns.</p>
</div>
</div>

<div	class="container-row">
  <div  class="intro">
		<img  class="project-frame_border"	src="/static/images/suns_browser.jpg"  alt="image">
</div>
</div>

<div	class="container-row">
  <div  class="intro">
		<h4>Outcome</h4>
		<p>Increased traffic to mobile grew exponentially as did visitor time as well. We were very pleased with how everything turned out - especially considering the size and scope of the site. I was fortunate to be a part of the redesign. Here is the current homepage:</p>
</div>
</div>

<div	class="container-row">
  <div  class="intro">
<p>For more information check out the <a href="http://nba.com/suns"	alt="suns website"	target="_blank">Phoenix Suns</a>.</p>
</div>
</div>

</div>


{% endblock content%}
