{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Recovia</h1>
			<p class="recent">AOC provides multiple levels of comprehensive primary ENT care including the diagnosis and management of all diseases of the ears, nose, throat, and sinuses.</p>
			<ul class="inline-flex">
				<li>Project: Web Design</li>
				<li>Role: UX/UI</li>
				<li>Online: <a href="http://www.recovia.com/"	alt="aoc website"	target="_blank">aocphysicians.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="surge-center intro">
  <img	class="project-frame_display"	src="/static/images/aoc_thunderbolt.png"  alt="image">
</div>
</div>

<div	class="container-row">
  <div  class="intro">
<img	src="/static/images/aoc_flow.jpg"  alt="image">
</div>
</div>

<div	class="container-row">
  <div  class="intro">
  <p>For more information check out <a href="http://www.recovia.com/"	alt="recovia church website"	target="_blank">Recovia</a>.</p>
</div>
</div>


</div>


{% endblock content%}
