{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Recovia</h1>
			<p class="recent">Recovia's mission is to provide a compassionate, comprehensive, cost effective, and individualized functional rehabilitation program.</p>
			<ul class="inline-flex">
				<li>Project: Web Design</li>
				<li>Role: User Experience, User Interface</li>
				<li>Online: <a href="http://www.recovia.com/"	alt="recovia website"	target="_blank">recovia.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="surge-center intro">
  <img	class="project-frame_display"	src="/static/images/recovia_macbook.png"  alt="image">
</div>
</div>

<div	class="container-row">
  <div  class="intro">
<img	src="/static/images/recovia_flow.jpg"  alt="image">
</div>
</div>

<div	class="container-row">
	<div  class="intro">
		<img  class="project-frame_border"	src="/static/images/recovia_browser.jpg"  alt="image">
</div>
</div>

<div	class="container-row">
		<img  class="project-frame_border	project-frame"	src="/static/images/recovia_mobile.jpg"  alt="image">
</div>

<div	class="container-row">
  <div  class="intro">
  <p>For more information check out <a href="http://www.recovia.com/"	alt="recovia website"	target="_blank">Recovia</a>.</p>
</div>
</div>


</div>


{% endblock content%}
