{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Redemption Church</h1>
		<p class="recent">Redemption Church is a multi-congregational church with 10 locations throughout the state of Arizona. Eight in the Phoenix area, one in Tucson and one in Flagstaff. Started in 2011 Redemption Church now has 8,000 weekly attendees.</p>
		<ul class="inline-flex">
			<li>Project: Website</li>
			<li>Role: UX, IA, Content</li>
			<li>Online: <a href="http://www.redemptionaz.com/"	alt="redemption website"	target="_blank">redemptionaz.com</a></li>
		</ul>
	</div>
</section>

<div	class="container-row">
	<div  class="intro">
		<img  src="/static/images/red_intro.jpg"  alt="image">
		<h4>Background</h4>
		<p>Since 2011, Redemption has been through three website redesigns. One was initially for the first launch and then we added a mobile version of the site soon after. However, with a growing number of congregations, needs and problems with the custom CMS of the site, we needed a new solution to solve these problems.</p>
		<p>Redemption Church is very unique in that it is not “multi-site” and they do not lifestream video of a preacher into each location. Each congregation has it’s own set of staff and lead pastors/preachers that help lead that congregation. Redemption Church is also decentralized. Meaning that each congregation believes the same things, has one person on the Redemption leadership team and is very relationally connected, yet still is very unique to its context and community it’s set in. For example, Redemption Gilbert is very different than Redemption Flagstaff. That’s because of their cultural contexts. However, a Central Staff is set in place to lead HR, Design, Communication, Finances and Pastors.</p>
		<p>Another large undertaking of the redesign was to have more of a central presence for Redemption Central Operations and about the church as a whole. More and more churches and networks throughout the US and world want to know more about our Church. Our previous version of the homepage did not give a good representation of this. When you visited the homepage, you were then prompted to visit one of our congregations subdomains. They were all very similar with much of the same information and not much room to customize.</p>
		<p>We set out to create a homepage that represented Redemption Church as a whole, along with 10 subdomain sites for all of the congregations that were built on the same IA and structure, yet very customizable for the needs of each community and attendees at each location. We needed a fully responsive site in order to move away from our mobile version, give visitors a clear picture of Redemption Church holistically, implement a beautiful viewing experience around our brand standards that had been updated, provide quick and easy ways for people to learn more about Redemption, and to create an audio and video sermon library that was easy to find and use.</p>
		<h4	class="margin-top">Research</h4>
		<p>In our initial research we talked to stakeholders and users of the website to find out what how we needed to design the website. We did extensive interviews at each location by asking staff at each congregation to interview their attendees on why they use the Redemption website, pain points, and what they felt could be improved. We were attempting to find the “why” behind the jobs that each visitor needed to get done. We used this feedback to assess previous pain points in our old website and structured our new layout with solutions that we believed would solve these issues.</p>
		<p>We looked at younger 18-25 year olds, young families and older families as our target audiences. Some personas were crafted from this research and the demographics that visited the website. This influenced the design and layout of our early design decisions. It was challenging to balance the influence and needs of the stakeholders with the needs and feelings of our users. But I think we got to a great middle ground in meeting both needs.</p>
		<p>We found more and more people using their phones to tithe, access and listen to sermons, and needing to find out service times and locations while they were driving on Sunday mornings or throughout the week to events. Getting a whole family with kids in the car to visit a new church can be, for lack of a better word, challenging. The easiest, simplest and quickest option was needed.</p>
		<p>Here is a sitemap flow of the website:</p>
		<img  class="margin-top"	src="/static/images/red_flow.jpg"  alt="image">
		<h4>Design</h4>
		<p>My role was to direct the project and create the UX and IA throughout the website redesign, as well as give direction to the development team in making changes based on our goals and the user research. Redemption Church partnered with Whiteboard to create the WordPress backend and to design the visual interface of the site (through the UX research and UI mock-ups and direction that we created). We implemented new Google Analytics tracking for each website, trained staff accordingly, created a database with AWS S3 servers for content, and created podcasts through FeedBurner and iTunes - which were based on the XML data from uploaded audio.</p>
		<p>Through the WordPress backed, we were able to come up with some layouts that are customizable based on the needs of each congregation and priority throughout their pages. Some of the subdomains have the same layout structure for certain pages that need to be the same for recognition and familiarity like the staff pages, sermons, giving and more. But custom pages following a customizable layout what gives freedom and ease of use to the design leads at each location.</p>
		<h4>Outcome</h4>
		<p>The outcome was a beautifully designed site which uses atomic design principles to create increased congruency within our current branding strategies within Redemption Church. Mobile access increased by 20%, session duration increase by .5 seconds, and we saw bounce rate decrease as well. Through our communication on the website: new sessions have increased by 30% as we reach more users through other communication campaigns and initiatives. The sermon audio and video libraries have worked well and create a pain-free listening and viewing experience within the browser. We’ve had great feedback from our users and how easy it is to get listen to sermons, give easily, access information on Redemption, and get directions to locations.</p>
		<img	class="margin-top"	src="/static/images/red_browser.jpg"  alt="image">
		<img	src="/static/images/red_ipad.jpg"  alt="image">
		<img	src="/static/images/red_mobile.jpg"  alt="image">
		<h4 class="recent border-top">Other Projects</h4>
		<p>Various digital and print projects for campaigns, events and brand communication.</p>
		<div class="project-row margin-top">
			<div class="project-frame_red">
		<img  src="/static/images/red_easter.jpg"  alt="image">
	</div>
		<div class="project-frame_red">
		<img  src="/static/images/red_titus.jpg"  alt="image">
	</div>
	</div>
	<div class="project-row">
		<div class="project-frame_red">
	<img  src="/static/images/red_vision.png"  alt="image">
</div>
	<div class="project-frame_red">
	<img  src="/static/images/red_comm.png"  alt="image">
</div>
</div>
	<img  src="/static/images/redmap_desk.jpg"  alt="image">
	<img  src="/static/images/layout.jpg"  alt="image">
	<div class="project-row">
		<div class="project-frame">
		<img src="/static/images/arcadia_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/baptism_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/tempe_shirt.png">
	</div>
</div>
<p>For more information check out <a href="http://redemptionaz.com"	alt="redemption church website"	target="_blank">Redemption Church</a>.</p>
	</div>
</div>



</div>


{% endblock content%}
