{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Redemption Church</h1>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">
  <div class="recent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="inline-flex">
			<li>Project: Website</li>
			<li>Role: UX, IA</li>
			<li>Online: <a href="http://www.redemptionaz.com/"	alt="redemption website">redemptionaz.com</a></li>
		</ul>
  </div>
  <img  src="/static/images/group.png"  alt="image">
	<img  src="/static/images/browser.png"  alt="image">
	<div class="project-row">
		<div class="project-frame">
		<img src="/static/images/mobile_1.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/mobile_2.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/mobile_3.png">
	</div>
</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<ul class="inline-flex">
		<li>Project: Brand Direction</li>
		<li>Role: Director of Design</li>
	</ul>
	<img  src="/static/images/layout.jpg"  alt="image">
	<div class="project-row">
		<div class="project-frame">
		<img src="/static/images/arcadia_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/baptism_shirt.png">
	</div>
	<div class="project-frame">
		<img src="/static/images/tempe_shirt.png">
	</div>
</div>
  <p>For more information check out <a href="http://redemptionaz.com">Redemption Church</a>.</p>
</div>
</div>


</div>


{% endblock content%}
