{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Scottsdale Liberty</h1>
			<p class="recent">Recovia's mission is to provide a compassionate, comprehensive, cost effective, and individualized functional rehabilitation program.</p>
			<ul class="inline-flex">
				<li>Project: Website</li>
				<li>Role: UX, UI</li>
				<li>Online: <a href="http://www.scottsdalelibertyhospital.com/"	alt="recovia website"	target="_blank">scottsdalelibertyhospital.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="intro">
  <img	src="/static/images/freedom_intro.jpg"  alt="image">
	<img	src="/static/images/recovia_flow.jpg"  alt="image">
	<img  src="/static/images/freedom_browser.jpg"  alt="image">
	<img  src="/static/images/freedom_ipads.jpg"  alt="image">
<p>For more information check out <a href="http://www.scottsdalelibertyhospital.com/"	alt="recovia website"	target="_blank">Scottsdale Liberty</a>.</p>
</div>
</div>



</div>

{% endblock content%}
