{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Scottsdale Liberty</h1>
			<p class="recent">Scottsdale Liberty Hospital is dedicated to providing an exceptional patient experience in an environment of compassion. When we began work on this project, the hospital was named Freedom Pain Hospital and was then aquired by another organization.</p>
			<ul class="inline-flex">
				<li>Project: Website</li>
				<li>Role: UX, UI</li>
				<li>Online: <a href="http://www.scottsdalelibertyhospital.com/"	alt="recovia website"	target="_blank">scottsdalelibertyhospital.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="intro">
  <img	src="/static/images/freedom_intro.jpg"  alt="image">
	<img	src="/static/images/freedom_flow.jpg"  alt="image">
	<img  src="/static/images/freedom_browser.jpg"  alt="image">
	<img  src="/static/images/freedom_ipads.jpg"  alt="image">
<p>For more information check out <a href="http://www.scottsdalelibertyhospital.com/"	alt="recovia website"	target="_blank">Scottsdale Liberty</a>.</p>
</div>
</div>



</div>

{% endblock content%}
