{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Surge Network</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="inline-flex">
			<li>Project: Identity Design and Website</li>
			<li>Role: Designer</li>
		</ul>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">

  <img  src="/static/images/surge_brand.jpg"  alt="image">

	<div class="project-row">
		<div class="project-frame_surge">
		<img src="/static/images/surge_1.png">
	</div>
	<div class="project-frame_surge">
		<img src="/static/images/surge_2.png">
	</div>
	<div class="project-frame_surge">
		<img src="/static/images/surge_3.png">
	</div>
	<div class="project-frame_surge">
	<img src="/static/images/surge_4.png">
</div>
<div class="project-frame_surge">
	<img src="/static/images/surge_5.png">
</div>
<div class="project-frame_surge">
	<img src="/static/images/surge_6.png">
</div>
	</div>
	<img  src="/static/images/surge_colors.png"  alt="image">
<div	class="surge-center">
	<img  src="/static/images/surge_logo.png"  alt="image">
	</div>
	<img  src="/static/images/surge_cards.jpg"  alt="image">
<p class="recent border-top">Website.</p>
	<img  src="/static/images/surge_site.png"  alt="image">

  <p>For more information check out <a href="http://surgenetwork.com/"	alt="redemption church website"	target="_blank">Surge Network</a>.</p>
</div>
</div>


</div>


{% endblock content%}
