{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Surge Network</h1>
			<p class="recent">Surge Network was born out of 4 local churches in Phoenix wanting to create a network of churches to train local leaders. Surge is now made up of hundreds of pastors, and around 70 churches across Arizona who are involved in various aspects of the network. It is a training network for church leaders and a theological school for those in ministry.</p>
			<ul class="inline-flex">
				<li>Project: Website, Branding</li>
				<li>Role: UX, UI, Identity</li>
				<li>Online: <a href="http://surgenetwork.com/"	alt="surge website"	target="_blank">surgenetwork.com</a></li>
			</ul>
		</div>
	</section>

	<div	class="container-row">
	  <div  class="intro">
			<img  src="/static/images/surge_intro.jpg"  alt="image">
			<h4>Design</h4>
			<p>The Surge Network needed a rebrand and new responsive website and content creation. The direction for the brand design was to be “organic” and “formative.” The green path-like nature of the design was meant to display this direction. Some of this work is still a work in progress. There will be future work on the Surge Network’s theological school and seminary websites.</p>
			<img	class="margin-top"  src="/static/images/surge_browser.jpg"  alt="image">
			<img  src="/static/images/surge_mobile.jpg"  alt="image">
			<img  src="/static/images/surge_ipad.jpg"  alt="image">
		  <img  src="/static/images/surge_brand.jpg"  alt="image">
			<img  src="/static/images/surge_logo.svg"  alt="image">
			<img  src="/static/images/surge_cards.jpg"  alt="image">
			<p>For more information check out the <a href="http://surgenetwork.com/"	alt="surge website"	target="_blank">Surge Network</a>.</p>
		</div>
	</div>

</div>

{% endblock content%}
