{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Synergy Physical Therapy</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="inline-flex">
			<li>Project: Branding, Website</li>
			<li>Role: UX/UI, Identity Design</li>
			<li>Online: <a href="http://www.synergyptph.com/"	alt="synergy website"	target="_blank">synergyptph.com</a></li>
		</ul>
	</div>
</section>

<div	class="container-row">
  <div  class="intro">
		<div class="surge-center">
	<div	class="project-frame_display">
  <img	src="/static/images/synergy_thunderbolt.png"  alt="image">
</div>
</div>
  <p>For more information check out <a href="http://www.synergyptph.com/"	alt="redemption church website"	target="_blank">Synergy Physical Therapy</a>.</p>
</div>
</div>


</div>


{% endblock content%}
