{% extends "base.html" %}
{% block content %}

<div	class="main">

	<section	class="container-row">
		<div class="intro">
			<h1>Synergy Physical Therapy</h1>
			<p class="recent">Synergy Physical Therapy is an elite, highly specialized rehabilitation facility that provides unprecedented care to patients of all fitness levels and capabilities.</p>
			<ul class="inline-flex">
				<li>Project: Website, Branding</li>
				<li>Role: User Experience, User Interface, Identity Design</li>
				<li>Online: <a href="http://www.synergyptph.com/"	alt="synergy website"	target="_blank">synergyptph.com</a></li>
			</ul>
		</div>
	</section>

<div	class="container-row">
  <div  class="intro">
		<div class="surge-center">
	<div	class="project-frame_display">
  <img	src="/static/images/synergy_thunderbolt.png"  alt="image">
</div>
</div>
</div>
</div>

<div	class="container-row">
	<div  class="intro">
		<h4>Background</h4>
		<p>Syngery was in need of a new brand design and a fresh direction that would be used on branded promotional material and a new responsive website. They had an outdated site and wanted to completely overhaul their brand and offices. All these needs came together for a fun project to work on for them.</p>
		<p>We had to come up with a solution in which we would have a homepage that represented Redemption Church as a whole, along with 10 subdomain sites for all of the congregations. Our goals were to create a site that would be responsive, give visitors a clear picture of Redemption Church wholistically, implement a beautiful viewing experience around our brand standards, and to create an audio and video sermon library that was easy to find and use.</p>
		<h4	class="recent">Research and Design</h4>
		<p>The client did not already have a responsive website, but had a large number of mobile users they wanted to cater to. I created some simple flows for their site. They wanted to keep it as simple as possible for people to not get lost too deep within the site. They have many elderly patients who get physical therapy as well as younger teenagers. The concern was too robust of a website.
		</p>
	</div>
</div>

<div	class="container-row">
	<div  class="intro">
<img	src="/static/images/synergy_flow.jpg"  alt="image">
</div>
</div>

<div	class="container-row">
		<img  class="project-frame_border	project-frame"	src="/static/images/synergy_mobile.jpg"  alt="image">
</div>

<div	class="container-row">
	<div  class="intro">
<h4	class="recent">Brand Design</h4>
<p>Additionally their brand was previously very “tribal” and did not align with their company culture. I created a brand that was strong and sleek, and mirrored their focus and care for “balance” and “alignment” throughout both their company and the physical therapy lifestyle. </p>
</div>
</div>

<div	class="container-row">
<img	class="project-frame_logo"	src="/static/images/synergy_logo.png"  alt="image">
</div>

<div	class="container-row">
	<div  class="intro">
		<img	src="/static/images/synergy_cards.jpg"  alt="image">
</div>
</div>


<div	class="container-row">
	<div  class="intro">
<p>For more information check out <a href="http://www.synergyptph.com/"	alt="synergy website"	target="_blank">Synergy Physical Therapy</a>.</p>
</div>
</div>

</div>


{% endblock content%}
