/*Modules*/

::-moz-selection {background: rgba(234,209,52,0.25);}

::selection {background: rgba(234,209,52,0.25);}

/*Links*/

.project	img {
    opacity: 1;
    filter: alpha(opacity=40);
}

.project	img:hover {
		opacity: 0.8;
    filter: alpha(opacity=100);
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
		-webkit-transition: all .15s ease-out;
		transition: all .15s ease-out;
	}

a	{
	-webkit-transition: all	.15s ease-out;
	transition: all	.15s ease-out;
	text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, p a,  li a  {
	color: inherit;
	border-bottom: 1px solid $color-border;
}

a:hover {
	color:	$color-blue;
	border-color: transparent;
}

footer	{
	color:	$color-grey;
}

header	a  {
	color:	$color-blue;
	border-color: transparent;
}

footer	a	{
	color:	$color-grey;
}

header	a:hover  {
	color:	$color-grey;
	border-color: transparent;
}

footer	a:hover  {
	color:	$color-blue;
	border-color: transparent;
}

ol, ul {
    list-style: none;
}

li  {
  line-height: 2rem;
}
