/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  Base  ======================================
*/

html, body { height: 100%; }

body {
	font-family: "filson-pro";
  line-height: 1.7;
	margin: 0;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1em;
		color: 74, 74, 74;
}

h1	{
	font:60px/1	"vollkorn", Arial, serif;
}

h3{
	font:18px/1	"filson-pro", Arial, serif;
	line-height: 1.7;
	color: #222222;
}

h3	a{
	font-weight:	700;
}

h4{
	font:18px/1	"filson-pro", Arial, serif;
	line-height: 1.7;
	color: #A6A6A6;
}

.main	a{
	color: inherit;
	transition: opacity	.1s;
	border-bottom: 1px solid #E0E0E0;
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

header	a,	footer	a{
	color:	#4B34EA;
	text-decoration: none;
}

ol, ul {
    list-style: none;
}
