//Layouts - Flexbox and containers.

.main{
	display: flex;
	flex-direction: column;
	padding-left: 5%;
  padding-right: 5%;
}

.container-row	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-bottom: 4rem;
}

.intro	{
	flex: auto;
	max-width: 1080px;
}

.intro-about	{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.intro-about	p	{
	flex: 1;
}

.intro-about	img	{
	padding-right: 4em;
	width: 20em;
}

.border-top	{
	border-top: 1px  solid  $color-border;
}

.border-bottom	{
	border-bottom:  1px  solid  $color-border;
}

.recent	{
	padding-top: 2rem;
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-flow: row wrap;
}

.recent-list	{
	flex: 1;
}

.recent-list_1	{
	flex: 1;
}

.recent-list_blog	{
	flex: 1;
	padding-top: 2rem;
}

.recent	ul	{
	margin-bottom: 2em;
}

.recent-title	{
	margin-bottom: 2em;
}

.inline-flex	{
	display: inline-flex;
}

.inline-flex li{
	padding-right: 2rem;
	flex: auto;
	margin-bottom: 1rem;
}

.services	{
	flex-grow: 1.5;
}

.projects-list	{
	display: inline-flex;
}

.projects-list h3	{
	flex: 1;
	min-width: 12rem;
}

.projects-list p	{
	flex: 2;
}

.project-row	{
	display: flex;
	justify-content: space-between;
}

.project-row_around	{

	display: flex;
	justify-content: space-around;
}

.project-frame_display	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 50%;
}

.project-frame_red	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 48%;
}

.project-frame	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 30%;
}

.project-frame_logo	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 20%;
}

.project-frame_ao	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 25%;
}

.project-frame_surge	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
  overflow: hidden;
	width: 10%;
}

.project-frame	img{
	max-width: 100%
}

.project-frame_border	{
	background: #fff;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	background-clip: padding-box;
	border-radius: 10px;
}

.surge-center	{
	display: flex;
	justify-content: center;
}

.surge-center	{
	display: flex;
	justify-content: center;
	max-width: 1080px;
}

.smaller-size	{
	width: 30%;
}

.blog-list	{
	display: inline-flex;
}

.blog-list h3	{
	flex: auto;
	align-self: baseline;
}

article	{
	max-width:	50%;
	flex: auto;
	color: $color-black;
	margin-bottom: 4rem;
}

.article-date	{
	flex: 0 1 auto;
	align-self: baseline;
}

.prev-next	{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
justify-content: space-between;
width: 1080px;
padding-top: 2rem;
}

.container-row	img{
	margin-bottom: 4rem;
	max-width: 100%;
	align-self: center;
}

.projects-list_row	{
	margin-bottom: 2rem;
}

/*.container-row	p{
	margin-bottom: 2rem;
}*/

//	Header and Footer

header  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-bottom:  1px  solid  $color-border;
	margin-bottom: 4rem;
  padding-left: 5%;
  padding-right: 5%;
}

.nav	{
	display: inline-flex;
}

nav	li	{
	padding-left: 50px;
}

nav	{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 1200px;
}

nav	span	{
	margin: auto;
}

footer  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-top:  1px  solid  $color-border;
  padding-left: 5%;
  padding-right: 5%;
}

//Layouts - Breakpoints.

@media screen and (max-width: 540px) {

	#post-list .dates { display: none; }

	.recent-list	{	flex: auto;	margin-bottom: 0rem;}
	.recent-list_1	{	flex: auto;	margin-bottom: 3rem;}
	.services	{	flex: auto;	min-width: 30rem; margin-bottom: 0rem;}
	article	{
		max-width:	100%;
		flex: auto;
		color: $color-black;
		margin-bottom: 4rem;
	}

	h1, { font-size: 2rem; }

	.inline-flex	{
		display: list-item;
	}

	.project-frame_display {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-row_around {
    display: block;
    justify-content: space-around;
}

.project-frame {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-row {
    display: block;
    justify-content: space-between;
}

.project-frame_logo {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-frame_surge {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

}
