//Layouts - Flexbox and containers.

.main{
	display: flex;
	flex-direction: column;
	padding-left: 4.16667%;
  padding-right: 4.16667%;
}

.container-row	{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-bottom: 4rem;
}

.intro	{
	flex: auto;
	max-width: 1080px;
}

.intro-about	{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.intro-about	p	{
	flex: 1;
}

.intro-about	img	{
	padding-right: 4em;
	width: 20em;
}

.border-top	{
	border-top: 1px  solid  $color-border;
}

.recent	{
	padding-top: 2rem;
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-flow: row wrap;
}

.recent-list	{
	flex: 1;
}

.recent	ul	{
	margin-bottom: 3em;
}

.recent-title	{
	margin-bottom: 3em;
}

.services	{
	flex-grow: 2;
}

.project-logo {
  width: 250px;
	margin-bottom: 1.5em;
}

.projects{
	width: 1080px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;;
}

.projects-child	{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	max-width: 300px;
}

.projects-child	a img	{
	align-items: center;
}

.projects-list	{
	display: inline-flex;
}

.projects-list h3	{
	flex: 1;
}

.projects-list p	{
	flex: 2;
}

.blog-list	{
	display: inline-flex;
}

.blog-list h3	{
	flex: auto;
	align-self: baseline;
}

article	{
	max-width:	50%;
	flex: auto;
	color: $color-black;
	margin-bottom: 4rem;
}

.article-date	{
	flex: 0 1 auto;
	align-self: baseline;
}

.prev-next	{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
justify-content: space-between;
width: 1080px;
padding-top: 2rem;
}

//	Header and Footer

header  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-bottom:  1px  solid  $color-border;
	margin-bottom: 4rem;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
}

.nav	{
	display: inline-flex;
}

nav	li	{
	padding-left: 50px;
}

nav	{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 1200px;
}

footer  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-top:  1px  solid  $color-border;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
}
