/*Layouts - Flexbox and containers.*/

.main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-left: 5%;
  padding-right: 5%;
}

.container-row	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	margin-bottom: 4rem;
}

.project-container	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	max-width: 1080px;
}

.project	{
	position: relative;
	width: calc(50% - 0.7rem);
  max-width: none;
	margin-bottom: 1.5rem;
	background-color: black;
	max-height: 18rem;
	overflow: hidden;
}

.proj-1 {
    margin-right: 0.7rem;
    margin-left: 0;
}

.proj-2 {
    margin-right: 0;
    margin-left: 0.7rem;
}

.project a	{
    line-height: 0.8;
    display: block;
}

.project figcaption {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    color: white;
		display: block;
}

.margin-top	{
	margin-top: 4rem;
}

.intro	{
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	max-width: 1080px;
}

.intro-about	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.intro-about	p	{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.intro-about	img	{
	padding-right: 4em;
	width: 20em;
}

.border-top	{
	border-top: 1px  solid  $color-border;
}

.border-bottom	{
	border-bottom:  1px  solid  $color-border;
}

.recent	{
	padding-top: 2rem;
	width: 100%;
	max-width: 1080px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
}

.recent-list	{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.recent-list_1	{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.recent-list_blog	{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-top: 2rem;
}

.recent	ul	{
	margin-bottom: 2em;
}

.recent-title	{
	margin-bottom: 2em;
}

.inline-flex	{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.inline-flex li{
	padding-right: 2rem;
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	margin-bottom: 1rem;
}

.services	{
	-webkit-box-flex: 1.5;
	    -ms-flex-positive: 1.5;
	        flex-grow: 1.5;
}

.projects-list	{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.projects-list h3	{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	min-width: 12rem;
}

.projects-list p	{
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

.project-row	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.project-row_around	{

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.project-frame_display	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 50%;
}

.project-frame_red	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 48%;
}

.project-frame	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 30%;
}

.project-frame_logo	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 15%;
}

.project-frame_ao	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 25%;
}

.project-frame_surge	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  overflow: hidden;
	width: 10%;
}

.project-frame	img{
	max-width: 100%
}

.project-frame_border	{
	background: #fff;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	background-clip: padding-box;
	border-radius: 10px;
}

.surge-center	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.surge-center	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 1080px;
}

.smaller-size	{
	width: 30%;
}

.blog-list	{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.blog-list h3	{
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	-ms-flex-item-align: baseline;
	    align-self: baseline;
}

article	{
	max-width:	50%;
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	color: $color-black;
	margin-bottom: 4rem;
}

.article-date	{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	-ms-flex-item-align: baseline;
	    align-self: baseline;
}

.prev-next	{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
width: 1080px;
padding-top: 2rem;
}

.container-row	img{
	margin-bottom: 4rem;
	max-width: 100%;
	-ms-flex-item-align: center;
	    align-self: center;
}

.project	img{
	margin-bottom: 0rem;
}

.projects-list_row	{
	margin-bottom: 2rem;
}

/*	Header and Footer*/

header  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
  height: 75px;
  border-bottom:  1px  solid  $color-border;
	margin-bottom: 4rem;
  padding-left: 5%;
  padding-right: 5%;
}

.nav	{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

nav	li	{
	padding-left: 50px;
}

nav	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1200px;
}

nav	span	{
	margin: auto;
}

footer  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
  height: 75px;
  border-top:  1px  solid  $color-border;
  padding-left: 5%;
  padding-right: 5%;
}

/*Layouts - Breakpoints.*/

@media screen and (max-width: 667px) {

	#post-list .dates { display: none; }

	.recent-list	{	-webkit-box-flex: 1;	-ms-flex: auto;	flex: auto;	margin-bottom: 0rem;}
	.recent-list_1	{	-webkit-box-flex: 1;	-ms-flex: auto;	flex: auto;	margin-bottom: 3rem;}
	.services	{	-webkit-box-flex: 1;	-ms-flex: auto;	flex: auto;	min-width: 30rem; margin-bottom: 0rem;}
	article	{
		max-width:	100%;
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
		color: $color-black;
		margin-bottom: 4rem;
	}

	h1, { font-size: 2rem; }

	.inline-flex	{
		display: list-item;
	}

	.project-frame_display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-row_around {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.project-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-row {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.project-frame_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
		margin: auto;
    width: 50%;
}

.project-frame_surge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.intro-about {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
}

.intro-about img {
    width: 100%;
		padding-right: 0;
}

.intro-about p {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}

.project	{
	width: 100%;
}

.proj-1 {
    margin-right: 0;
    margin-left: 0;
}

.proj-2 {
    margin-right: 0;
    margin-left: 0;
}

}
