.container-row	{
	display: flex;
	justify-content: center;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
	flex-flow: row wrap;
	margin-bottom: 6em;
}

.intro	{
	flex: auto;
	max-width: 1080px;
}

.intro-about	{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.intro-about	p	{
	flex: 1;
}

.intro-about	img	{
	padding-right: 4em;
}

.border-top	{
	border-top: 1px  solid  #e7e7e7;
}

.recent	{
	padding-top: 3em;
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-flow: row wrap;
}

.recent-list	{
	flex: 1;
}

.recent	ul	{
	margin-bottom: 3em;
}

.recent-title	{
	margin-bottom: 3em;
}

.project-logo {
  width: 250px;
	margin-bottom: 1em;
}

.projects-child	{
	flex: 1	0 auto;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
/*  Header and Footer  =====================================
*/

header  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-bottom:  1px  solid  #e7e7e7;
	margin-bottom: 6em;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
}

.nav	{
	display: inline-flex;
	list-style: none;
}

nav	li	{
	padding-left: 50px;
}

nav	{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 1200px;
}

footer  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-top:  1px  solid  #e7e7e7;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
}
