.container{
	display: flex;
  /*background-color: yellow;*/
  margin-bottom: 6em;
	flex-flow: column nowrap;
	margin-left: auto;
margin-right: auto;
padding-left: 4.16667%;
padding-right: 4.16667%;
}

.intro{
  max-width: 1080px;
	/*background-color: #97E3FB;*/
	align-self: center;
}

.container-recents{
	display: flex;
	justify-content: center;
  /*background-color: yellow;*/
	margin-left: auto;
	margin-right: auto;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
	flex-flow: row wrap;
	margin-bottom: 6em;
}

.recent	{
	border-top: 1px  solid  #e7e7e7;
	padding-top: 3em;
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-flow: row wrap;
  /*background-color: blue;*/
}

.recent-list{
	flex: 1;
}

.recent	ul{
	margin-bottom: 3em;
}

.recent-title{
	margin-bottom: 3em;
}

/*  Header and Footer  =====================================
*/

header  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-bottom:  1px  solid  #e7e7e7;
	margin-bottom: 6em;
	margin-left: auto;
  margin-right: auto;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
  /*background-color: yellow;*/
}

.nav	{
	display: inline-flex;
	list-style: none;
}

nav	li	{
	padding-left: 50px;
}

nav	{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 1200px;
}

footer  {
	display: flex;
	justify-content: center;
  height: 75px;
  border-top:  1px  solid  #e7e7e7;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.16667%;
  padding-right: 4.16667%;
  /*background-color: yellow;*/
}
