{% extends "base.html" %}
{% block content %}
<div	class="main">
<section	class="container">
	<div class="intro">
		<h1>Zac Walberer</h1>
    <div  class="intro-about">
      <img src="/static/images/033.png" alt="Walberers">
      <p>I’m Zac – a designer and developer happliy living in Tempe, AZ with my beautiful wife and <a href="https://en.wikipedia.org/wiki/Weimaraner" target="_blank">non-existent dog</a>. I am currently the Director of Design for <a href="http://www.redemptionaz.com/" target="_blank">Redemption Church</a>, leading the design and communication teams across ten congregations. I have worked on both brand and product design with agencies like Design Forest and in-house like the <a href="http://www.nba.com/suns/" target="_blank">Phoenix Suns</a>.
      </p>
	  </div>
</section>

<div	class="container-recents">
	<div class="recent">
		<div	class="recent-list">
		<h4 class="recent-title">Writing</h4>
		<ul class="recent-list">
			<li>
				<h3>
					<a href="#">Update 1</a>
					<time>– Jul 05, 2016</time>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Update 2</a>
					<time>– Jul 04, 2016</time>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Update 3</a>
					<time>– Jul 03, 2016</time>
				</h3>
			</li>
		</ul>
		<h4><a href="#">Archive</a></h4>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Select Work</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Project One	– Branding, Web Design, UX</a>
				<time>– Jul 05, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Project Two	– Development, UI, UX</a>
				<time>– Jul 04, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Project Three	– Development, UI, UX</a>
				<time>– Jul 03, 2016</time>
			</h3>
		</li>

	</ul>
	<h4><a href="#">Work</a></h4>
</div>
	</div>
</div>
</div>

{% include 'cta.html' %}

{% endblock content%}
