{% extends "base.html" %}
{% block content %}
<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Zac Walberer</h1>
    <div  class="intro-about">
      <img src="/static/images/033.png" alt="Walberers">
      <p>I’m Zac – a designer and developer happliy living in Tempe, AZ with my beautiful wife and <a href="https://en.wikipedia.org/wiki/Weimaraner" target="_blank">non-existent dog</a>. I am currently the Director of Design for <a href="http://www.redemptionaz.com/" target="_blank">Redemption Church</a>, leading the design and communication teams across ten congregations. I have worked on both brand and product design with agencies like Design Forest and in-house like the <a href="http://www.nba.com/suns/" target="_blank">Phoenix Suns</a>.
      </p>
	  </div>
	</div>
</section>

<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
		<h4 class="recent-title">Services</h4>
		<ul class="recent-list">
			<li>
				<h4>
					Digital Product Design
				</h4>
			</li>
			<li>
				<h4>
					UI/UX Design
				</h4>
			</li>
			<li>
				<h4>
					Front End Development
				</h4>
			</li>
			<li>
				<h4>
					Branding and Identity
				</h4>
			</li>
		</ul>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Elsewhere</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Twitter</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Dribbble</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Github</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Medium</a>
			</h3>
		</li>
	</ul>
</div>
	</div>
</div>

<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
		<h4 class="recent-title">Interests</h4>
		<ul class="recent-list">
			<li>
				<h3>
					<a href="#">NBA</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Apple</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Cycling</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Dog Breeds</a>
				</h3>
			</li>
		</ul>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Lists</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Podcasts</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Reading</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Documentaries</a>
			</h3>
		</li>
	</ul>
</div>
	</div>
</div>

</div>
{% endblock content%}
