{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Thoughts on Life and Design.</h1>
	</div>
</section>

<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
		{% for post in posts %}
		{% ifchanged %}
		<h4 class="recent-title">{{ post.date|date:"F Y" }}</h4>
		{% endifchanged %}
		<ul>
			<li	class="blog-list">
				<h3>
					<a href="/{{ post.path }}">{{ post.title }}</a> - {{ post.date|date:"M j" }}
				</h3>
			</li>
		</ul>
		{% endfor %}
	</div>
	</div>
</div>

</div>


{% endblock content%}
