{% extends "base.html" %}
{% block content %}

<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Thoughts on Life and Design.</h1>
	</div>
</section>

<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
		<ul class="recent-list--work">
			<li	class="projects-list">
				<h3>
					<a href="#">2016</a>
				</h3>
				<p>Lorem ipsum dolor sit amet</p>
			</li>
			<li	class="projects-list">
				<h3>
					<a href="#">Twitter</a>
				</h3>
				<p>Lorem ipsum dolor sit amet</p>
			</li>
			<li	class="projects-list">
				<h3>
					<a href="#">Twitter</a>
				</h3>
				<p>Lorem ipsum dolor sit amet</p>
			</li>
			<li	class="projects-list">
				<h3>
					<a href="#">Twitter and Stuff</a>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</li>
		</ul>
	</div>
	</div>
</div>

</div>


{% endblock content%}
