{% extends "base.html" %}
{% block content %}
<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>I’m a Designer and Front End Developer living in Tempe, AZ</h1>
		<h4>I create interfaces, help brands take shape and build digital products. Currently I am working as the Design Director at <a	href="http://www.redemptionaz.com/"	target="_blank">Redemption Church</a>, which is made up of 10 congregations throughout Arizona. <a	href="mailto:zac.walberer@icloud.com">Get in touch</a>.
		</h4>
	</div>
</section>
<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list_1">
		<h4 class="recent-title">Writing</h4>
		<ul>
			{% for post in posts %}
			<h3>
				<a href="/{{ post.path }}">{{ post.title }}</a> - {{ post.date|date:"M j, Y" }}
			</h3>
			{% endfor %}
		</ul>
		<h3><a href="/blog.html">Archive</a></h3>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Select Work</h4>
	<ul>
		<li>
			<h3>
				<a href="#">Praxis – Branding, Web Design, UX</a>
				<time>– Jul 05, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Redemption Church	– Development, UI, UX</a>
				<time>– Jul 04, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Bubba's Bash	– Development, UI, UX</a>
				<time>– Jul 03, 2016</time>
			</h3>
		</li>

	</ul>
	<h3><a href="/work.html">Work</a></h3>
</div>
	</div>
</div>

</div>
{% endblock content%}
