{% extends "base.html" %}
{% block content %}

<section	class="container">
	<div class="intro">
		<h1>I’m a Designer and Front End Developer living in Tempe, AZ</h1>
		<h4>I create interfaces, help brands take shape and build digital products. Currently I am working as the Design Director at <a	href="https://redemptionaz.com">Redemption Church</a>. You can see my previous work histroy on <a	href="https://linkedin.com/zacwalberer">Linkedin</a>.
		</h4>
	</div>
</section>

<div	class="container-recents">
	<div class="recent">
		<h3 class="recent-title">Recent Articles</h3>
		<ul class="recent-list">
			<li>
				<h3	class="inline fade">
					<a href="#"	class="underline">Update 1</a>
					<time>– Jul 05, 2016</time>
				</h3>
			</li>
			<li>
				<h3	class="inline fade">
					<a href="#"	class="underline">Update 2</a>
					<time>– Jul 04, 2016</time>
				</h3>
			</li>
			<li>
				<h3	class="inline fade">
					<a href="#"	class="underline">Update 3</a>
					<time>– Jul 03, 2016</time>
				</h3>
			</li>
			<li>
				<h3	class="inline fade">
					<a href="#"	class="underline">Update 4</a>
					<time>– Jul 02, 2016</time>
				</h3>
			</li>
			<li>
				<h3	class="inline fade">
					<a href="#"	class="underline">Update 5</a>
					<time>– Jul 01, 2016</time>
				</h3>
			</li>
		</ul>
	</div>
</div>


{% include 'cta.html' %}

{% endblock content%}
