{% extends "base.html" %}
{% block content %}
<div	class="main">
<section	class="container">
	<div class="intro">
		<h1>I’m a Designer and Front End Developer living in Tempe, AZ</h1>
		<h4>I create interfaces, help brands take shape and build digital products. Currently I am working as the Design Director at <a	href="http://www.redemptionaz.com/"	target="_blank">Redemption Church</a>. You can see my previous work histroy on <a	href="https://www.linkedin.com/in/zacwalberer"	target="_blank">Linkedin</a>.
		</h4>
	</div>
</section>

<div	class="container-recents">
	<div class="recent">
		<div	class="recent-list">
		<h4 class="recent-title">Writing</h4>
		<ul class="recent-list">
			<li>
				<h3>
					<a href="#">Update 1</a>
					<time>– Jul 05, 2016</time>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Update 2</a>
					<time>– Jul 04, 2016</time>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Update 3</a>
					<time>– Jul 03, 2016</time>
				</h3>
			</li>
		</ul>
		<h4><a href="#">Archive</a></h4>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Select Work</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Project One	– Branding, Web Design, UX</a>
				<time>– Jul 05, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Project Two	– Development, UI, UX</a>
				<time>– Jul 04, 2016</time>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Project Three	– Development, UI, UX</a>
				<time>– Jul 03, 2016</time>
			</h3>
		</li>

	</ul>
	<h4><a href="#">Work</a></h4>
</div>
	</div>
</div>
</div>

{% include 'cta.html' %}

{% endblock content%}
