{% extends "base.html" %}
{% block content %}
<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Featured Projects.</h1>
	</div>
</section>

<div	class="container-row">
<div	class="project-container">
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>Redemption Church</figcaption>
		<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-2">
			<figcaption>Recovia</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>Synergy Physical Therapy</figcaption>
		<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-2">
			<figcaption>Surge Network</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>Phoenix Suns</figcaption>
		<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-2">
			<figcaption>Flagstaff Marathon</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>AOC</figcaption>
		<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-2">
			<figcaption>American Outlaws</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>Logos</figcaption>
		<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/redemption-church.html"	class="project	proj-2">
			<figcaption>Redemption Church</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
</div>
</div>


<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
<h4 class="recent-title">Select Clients</h4>
<h3><a href="http://gluchgroup.com/" target="_blank">Gluch Group</a>, <a href="http://qideas.org/" target="_blank">Q Ideas</a>, <a href="https://www.theamericanoutlaws.com/" target="_blank">American Outlaws</a>, <a href="http://northcountryhealthcare.org/" target="_blank">North County Healthcare</a>, <a href="http://www.southwestspineandpain.com/about-us" target="_blank">Southwest Spine and Pain Center</a>, <a href="http://www.actonacademy.org/" target="_blank">Acton Academy</a>.</h3>
</div>
</div>
</div>

</div>
{% endblock content%}
