{% extends "base.html" %}
{% block content %}
<div	class="main">

<section	class="container-row">
	<div class="intro">
		<h1>Featured Projects.</h1>
	</div>
</section>

<div	class="container-row">
<div	class="project-container">
	<a href="/projects/redemption-church.html"	class="project	proj-1">
		<figcaption>Redemption Church – UX, IA, Content</figcaption>
		<img	src="/static/images/red_intro.jpg" alt="banner">
	</a>
	<a href="/projects/american-spine.html"	class="project	proj-2">
			<figcaption>American Spine Group - UX, UI</figcaption>
			<img	src="/static/images/american_project.jpg" alt="banner">
	</a>
	<a href="/projects/surge-network.html"	class="project	proj-1">
		<figcaption>Surge Network – UX, UI, Branding</figcaption>
		<img	src="/static/images/surge_mobile.jpg" alt="banner">
	</a>
	<a href="/projects/synergy.html"	class="project	proj-2">
		<figcaption>Synergy Physical Therapy – UX, UI, Branding</figcaption>
		<img	src="/static/images/synergy_intro.jpg" alt="banner">
	</a>
	<a href="/projects/scottsdale-liberty.html"	class="project	proj-1">
			<figcaption>Scottsdale Liberty - UX, UI</figcaption>
			<img	src="/static/images/freedom_ipads.jpg" alt="banner">
	</a>
	<a href="/projects/recovia.html"	class="project	proj-2">
			<figcaption>Recovia – UX, UI</figcaption>
			<img	src="/static/images/recovia_intro.jpg" alt="banner">
	</a>
	<a href="/projects/phoenix-suns.html"	class="project	proj-1">
		<figcaption>Phoenix Suns – IA, UX</figcaption>
		<img	src="/static/images/suns_intro.jpg" alt="banner">
	</a>
	<a href="/projects/flagstaff-marathon.html"	class="project	proj-2">
			<figcaption>Flagstaff Marathon - Branding</figcaption>
			<img	src="/static/images/flagstaff_banner.jpg" alt="banner">
	</a>
	<a href="/projects/american-outlaws.html"	class="project	proj-1">
			<figcaption>American Outlaws - Branding</figcaption>
			<img	src="/static/images/soccer.jpg" alt="banner">
	</a>
	<a href="/projects/logos.html"	class="project	proj-2">
		<figcaption>Logos</figcaption>
		<img	src="/static/images/graph.jpg" alt="banner">
	</a>
</div>
</div>


<div	class="container-row">
	<div class="recent	border-top">
		<div	class="recent-list">
<h4 class="recent-title">Select Clients</h4>
<h3><a href="http://gluchgroup.com/" target="_blank">Gluch Group</a>, <a href="http://qideas.org/" target="_blank">Q Ideas</a>, <a href="https://www.theamericanoutlaws.com/" target="_blank">American Outlaws</a>, <a href="http://northcountryhealthcare.org/" target="_blank">North County Healthcare</a>, <a href="http://www.southwestspineandpain.com/about-us" target="_blank">Southwest Spine and Pain Center</a>, <a href="http://www.actonacademy.org/" target="_blank">Acton Academy</a>.</h3>
</div>
</div>
</div>

</div>
{% endblock content%}
