{% extends "base.html" %}
{% block content %}
<div	class="main">
<section	class="container">
	<div class="intro">
		<h1>Work</h1>
	</div>
</section>

<div	class="container-recents">
	<div class="recent">
		<div	class="recent-list">
		<h4 class="recent-title">Services</h4>
		<ul class="recent-list">
			<li>
				<h4>
					Digital Product Design
				</h4>
			</li>
			<li>
				<h4>
					UI/UX Design
				</h4>
			</li>
			<li>
				<h4>
					Front End Development
				</h4>
			</li>
			<li>
				<h4>
					Branding and Identity
				</h4>
			</li>
		</ul>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Elsewhere</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Twitter</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Dribbble</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Github</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Medium</a>
			</h3>
		</li>
	</ul>
</div>
	</div>
</div>

<div	class="container-recents">
	<div class="recent">
		<div	class="recent-list">
		<h4 class="recent-title">Interests</h4>
		<ul class="recent-list">
			<li>
				<h3>
					<a href="#">NBA</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Apple</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Cycling</a>
				</h3>
			</li>
			<li>
				<h3>
					<a href="#">Dog Breeds</a>
				</h3>
			</li>
		</ul>
	</div>
	<div	class="recent-list">
	<h4 class="recent-title">Lists</h4>
	<ul class="recent-list">
		<li>
			<h3>
				<a href="#">Podcasts</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Reading</a>
			</h3>
		</li>
		<li>
			<h3>
				<a href="#">Documentaries</a>
			</h3>
		</li>
	</ul>
</div>
	</div>
</div>

</div>

{% include 'cta.html' %}

{% endblock content%}
