{% extends "base.html" %}
{% block content %}

<div	class="main">

	<div	class="container-row">
		<div class="intro">
			<h1>National Parks</h1>
		</div>
	</div>

<div	class="container-row">
<article>

<ul>
<li>Arcadia - Maine</li>
<li>American Samoa - American Samoa</li>
<li>Arches - Utah</li>
<li>Badlands - South Dakota</li>
<li>Big Bend - Texas</li>
<li>Biscayne - Florida</li>
<li>Black Canyon of the Gunnison - Colorado</li>
<li>Bryce Canyon - Utah</li>
<li>Canyonlands - Utah</li>
<li>Capitol Reef - Utah</li>
<li>Carlsbad Caverns - New Mexico</li>
<li>Channel Islands - California</li>
<li>Congaree - South Carolin</li>
<li>Crater Lake - Oregon</li>
<li>Cuyahoga Valley - Ohio</li>
<li>Death Valley - California</li>
<li>Denali - Alaska</li>
<li>Dry Tortugas - Florida</li>
<li>Everglades - Florida</li>
<li>Gates of the Arctic - Alaska</li>
<li>Glacier - Montana</li>
<li>Glacier Bay - Alaska</li>
<li><strike>Grand Canyon - Arizona</strike></li>
<li><strike>Grand Teton - Wyoming</strike></li>
<li>Great Basin - Nevada</li>
<li>Great Sand Dunes - Colorado</li>
<li>Great Smokey Mountains - Tennessee, North Carolina</li>
<li>Guadalupe Mountains - Texas</li>
<li>Haleakalā - Hawaii</li>
<li>Hawaii Volcanoes - Hawaii</li>
<li>Hot Springs - Arkansas</li>
<li>Isle Royale - Michigan</li>
<li>Joshua Tree - California</li>
<li>Katmai - Alaska</li>
<li>Kenai Fjords - Alaska</li>
<li>Kings Canyon - California</li>
<li>Kobuk Valley - Alaska</li>
<li>Lake Clark - Alaska</li>
<li>Lassen Volcanic - California</li>
<li>Mammoth Cave - Kentucky</li>
<li>Mesa Verde - Colorado</li>
<li>Mount Rainier - Washington</li>
<li>North Cascades - Washington</li>
<li>Olympic - Washington</li>
<li><strike>Petrified Forest - Arizona</strike></li>
<li>Pinnacles - California</li>
<li><strike>Redwood - California</strike></li>
<li><strike>Rocky Mountain - Colorado</strike></li>
<li><strike>Saguaro - Arizona</strike></li>
<li>Sequoia - California</li>
<li>Shenandoah - Virginia</li>
<li>Theodore Roosevelt - North Dakota</li>
<li>Virgin Islands - United States Virgin Islands</li>
<li>Voyageurs - Minnesota</li>
<li>Wind Cave - South Dakotah</li>
<li>Wrangell St. Elias - Alaska</li>
<li><strike>Yellowstone - Wyoming, Montana, Idaho</strike></li>
<li>Yosemite - California</li>
<li><strike>Zion - Utah</strike></li>
</ul>
</article>

</div>
</div>

{% endblock content%}
