{% extends "base.html" %}
{% block content %}

<div	class="main">

	<div	class="container-row">
		<div class="intro">
			<h1>Podcasts</h1>
			<h4>Some podcasts I enjoy and listen to regularly. 📻</h4>
		</div>
	</div>

	<div	class="container-row">
		<article>

			<ul>
				<li><a href="https://soundcloud.com/the-bill-simmons-podcast" target="_blank">The Bill Simmons Podcast</a></li>
				<li><a href="https://spec.fm/podcasts/design-details" target="_blank">Design Details</a></li>
				<li><a href="https://spec.fm/podcasts/developer-tea" target="_blank">Developer Tea</a></li>
				<li><a href="https://spec.fm/podcasts/immutable" target="_blank">Immutable</a></li>
				<li><a href="https://www.washingtonpost.com/graphics/business/presidential-podcast/" target="_blank">Presidential</a></li>
				<li><a href="http://www.radiolab.org/series/podcasts/" target="_blank">Radiolab</a></li>
				<li><a href="https://gimletmedia.com/show/reply-all/" target="_blank">Reply All</a></li>
				<li><a href="http://revisionisthistory.com/" target="_blank">Revisionist History</a></li>
				<li><a href="http://shoptalkshow.com/" target="_blank">ShopTalk</a></li>
				<li><a href="http://www.thisamericanlife.org/podcast" target="_blank">This American Life</a></li>
			</ul>
		</article>
	</div>

</div>

{% endblock content%}
